{
  "src/**/*{.ts,.tsx}": ["eslint --fix", "prettier --write --ignore-unknown"],
  "src/**/*.{css}": ["stylelint --fix", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write --ignore-unknown"]
}
